extends ./layout.jade

block title
    title API Documentation - URL Shorter

block content
    h1 API Documentation

    h3 Short URL
    p For shorting an URL, you should make POST request to URL below with <strong>url</strong> parametrer.
    pre #{apiUrl}
    p For example:
    pre.
        curl --data "url=http://example.com" -X POST '#{apiUrl}'
        {"meta":{"code":200},"data":{"orig":"http://example.com","href":"#{shortUrl}/code"}}

    h3 URL info
    p For retrieving original URL, you should make GET request to URL below with <strong>url</strong> parametrer.
    pre #{apiUrl}
    p For example:
    pre.
        curl '#{apiUrl}?url=#{shortUrl}/code'
        {"meta":{"code":200},"data":{"orig":"http://example.com","href":"#{shortUrl}/code"}}
