extends ./layout.jade

block content
    h1 URL Shorter
    p Short your URLs here
    .jumbotron
        form.short-form(method='get', action='/', data-api=apiUrl)
            .input-group
                input.form-control(type='text', name='url', value=url, autofocus=true, placeholder='http://example.com')
                span.input-group-btn
                    input.btn.btn-primary(type='submit', value='Short!')
        .input-group.short-result(class=!short ? 'hidden' : '')
            span.input-group-addon Short URL
            input.form-control(type='text', value=short, readonly=true)
        .alert.alert-danger.short-error(class=!message ? 'hidden' : '') #{message}