doctype html
html
    head
        meta(charset='utf-8')
        block title
            title URL Shorter
        link(rel='icon' href='/favicon.ico')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .navbar.navbar-inverse
            .container
                .navbar-header
                    a.navbar-brand(href='/') URL Shorter
                .collapse.navbar-collapse.pull-right
                    ul.nav.navbar-nav
                        li
                            a(href='/docs') API Documentation
        .container
            block content
        .footer
            .container
                p.pull-right Developed by&nbsp;
                    a(href='http://hwdmedia.com', target='_blank') HWD Media

        script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(type='text/javascript', src='/javascripts/script.js')
